.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./image/bg-logo.jpg) ;
    background-size: cover;

    &:hover {
        background-color: red;
    }
}